In [49]:
import pandas as pd

In [50]:
df = pd.read_csv("babies.txt", delim_whitespace=True)
df.head()

   bwt  gestation  parity  age  height  weight  smoke
0  120        284       0   27      62     100      0
1  113        282       0   33      64     135      0
2  128        279       0   28      64     115      1
3  123        999       0   36      69     190      0
4  108        282       0   23      67     125      1

In [51]:
from scipy.stats import kstest, norm

my_data = df

ks_statistic, p_value = kstest(my_data, 'norm')

print(ks_statistic, p_value)

ValueError: operands could not be broadcast together with shapes (1236,) (1236,7)